.home {
    min-height: 100vh;
    padding: 20px;
  
    &__greeting-section {
      margin-bottom: 20px;
    }
  
    &__goal-status-section {
      margin-bottom: 20px;
    }
  
    &__goal-card-section {
      margin-top: 20px;
    }
  }
  