.box {
    width: 100px;
    height: 100px;
    background-color: #eef3ff;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  