// 메인 컬러 정의
$primary-color: #030824;

// 컬러 맵 정의
$colors: (
    gray-blue-20: #EBF1FF,
    gray-blue-40: #D9DDF5,
    gray-blue-80: #373D5F,
    gray-blue-90: #022644,
    gray-10: #F2F2F5,
    gray-20: #DBDADB,
    gray-30: #C0C0C0,
    gray-70: #8D8D8D,
    gray-80: #4D4D4D,
    sky-blue-40: #BDDCFA,
    sky-blue-60: #5CA0FF,
    purple-blue-60: #4C6DDE,
    dark-blue-50: #105D9C,
    pink-10: #FFC4DC,
    neon-pink-50: #F755A3,
    neon-pink-60: #F755A3,
    neon-pink-70: #FF3D8B,
    neon-pink-90: #E2206E,
    neon-orange-10: #FFD09F,
    neon-orange-80: #F48F27,
    peach-pink-10: #FCEEEE,
    peach-pink-20: #FFB0B0,
    peach-pink-60: #FE7575,
    neon-green-40: #00E87A,
    black: #111111,
    white: #FFFFFF
);

// 텍스트스타일 맵 정의
$text-styles: (
    "title": (26px, 43px, extra-bold),
    "title-10": (24px, 34px, extra-bold),
    "title-20": (20px, 28px, extra-bold),
    "title-30": (18px, 26px, extra-bold),
    "title-40": (16px, 24px, extra-bold),
    "title-50": (15px, 22px, extra-bold),
    "body-5": (18px, 26px, regular),
    "body-10": (16px, 26px, regular),
    "body-20": (15px, 26px, regular),
    "body-30": (14px, 24px, regular),
    "body-40": (13px, 22px, regular),
    "body-50": (12px, 16px, regular)
);

@mixin text-style($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@each $name, $values in $text-styles {
  .#{$name} {
    @include text-style(nth($values, 1), nth($values, 2), nth($values, 3));
  }
}
