$primary-color: #030824;
$gray-blue-20: #ebf1ff;
$gray-blue-40: #d9ddf5;
$gray-blue-80: #373d5f;
$gray-blue-90: #022644;
$gray-10: #f2f2f5;
$gray-20: #d8dadb;
$gray-30: #c0c0c0;
$gray-40: #979696;
$gray-70: #8d8d8d;
$gray-80: #4d4d4d;
$sky-blue-40: #bddcfa;
$sky-blue-60: #5ca0ff;
$purple-blue-60: #4c6dde;
$dark-blue-50: #105d9c;
$pink-10: #ffc4dc;
$neon-pink-50: #f755a3;
$neon-pink-60: #f755a3;
$neon-pink-70: #ff3d8b;
$neon-pink-90: #e2206e;
$neon-orange-10: #ffd09f;
$neon-orange-80: #f48f27;
$peach-pink-10: #fceeee;
$peach-pink-20: #ffb0b0;
$peach-pink-60: #fe7575;
$neon-green-40: #00e87a;
$black: #111111;
$white: #ffffff;
