.login__child {
  align-items: center;
  padding-top: 2.9rem;
  text-align: center;
  &__img {
    display: block;
    margin: 8.2rem auto 0;
  }
  &__desc {
    padding-top: 0.8rem;
    padding-bottom: 3.5rem;
    color: $gray-80;
  }
  [class*="input_comm"] {
    margin-bottom: 1.4rem;
  }
  &__btn {
    margin-top: 1.4rem;
  }
  &__error {
    margin-top: 1.6rem;
    color: $peach-pink-60;
    white-space: pre-line;
  }
}

.login__util {
  display: flex;
  gap: 2.2rem;
  margin-top: 2.9rem;
  &__pw,
  &__join {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -1.3rem;
      top: 1.1rem;
      width: 0.4rem;
      height: 0.4rem;
      background-color: #d8dadb;
      border-radius: 50%;
    }
  }
}
