.login{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.6rem 3.1rem;
    box-sizing: border-box;
    // &__content{
    //     margin-top: 56px;
    //     &.type-child{
    //         margin-top: 0;
    //     }
    // }
}

