.mypage {
  padding: 0 16px;

  &__my {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__myname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: $gray-blue-80;

    > div {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    > a {
      color: $gray-70;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__myinfo {
    margin-top: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px 15px;

    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      gap: 8px;

      p {
        display: flex;
        align-items: center;
        gap: 10px;

        &:nth-of-type(2) {
          margin-top: 5px;
        }
      }

      strong {
        font-size: 20px;
        color: #373D5F;
        font-weight: 700;
      }

      span {
        color: #3B425E;
      }
    }

    > a {
      color: $gray-40;
    }
  }

  &__list {
    padding-top: 46px;
    border-top: 1px solid #EDEDED;
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;
      color: #3B425E;

      a, p {
        font-weight: 700;
      }
    }
  }
}