.calendar {
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  text-align: center;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px;
    font-weight: 700;

    li {
      font-size: 20px;
      text-align: center;

      p {
        margin-top: 5px;
        padding: 10px;
      }
    }
  }
}