// step1
.box {
  &__step1 {
    padding-left: 3rem;
    .btn_qr {
      display: flex;
      gap: 0.7rem;
      align-items: center;
      margin-top: 4.4rem;
      font-weight: 700;
    }
  }
  &__step2 {
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 4rem;
    padding-bottom: 3rem;
    [class*="input_comm"] {
      margin-bottom: 1.6rem;
    }
  }
}

.item_picker {
  border: 1px solid $gray-20;
  border-radius: 0.6rem;
}

// 성별 선택
.lab_radio {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50% - 1.6rem);
  padding: 1.8rem;
  border: 1px solid $gray-20;
  border-radius: 0.6rem;
  text-align: center;
  font-weight: 800;
  color: $black;
  cursor: pointer;
  &.selected {
    border-color: transparent;
    background-color: $gray-10;
  }
  & + .lab_radio {
    margin-left: 1.6rem;
  }
}
.img_gender {
  display: block;
  margin-top: 0.8rem;
}

// react-mobile-picker 커스텀
.pickerItem {
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  line-height: 44px;
  text-align: center;
  font-weight: 800;
}
.pickerSelected {
  background-color: $gray-10;
  color: $black;
}
.pickerUnSelected {
  color: $gray-20;
}
